<div class="row" style="padding-left: 20pt; padding-right: 20pt;">
    <div style="margin-bottom: 20pt; text-align: right;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <font style="font-weight: bold; font-size: 15pt; margin-left: 10pt;">
        <span style="color: gray; margin-left: 10pt; margin-top: 20pt;" class="fas fa-clipboard-list">&nbsp;&nbsp;Listado de inmuebles</span>
      </font>
    </div>
		<div style="margin-bottom: 20pt; text-align: left;" class="col-xl-2 col-lg-3 col-md-6 col-sm-12 col-xs-12">
			<label class="labelComun">Rango Fechas</label>
			<input type="text" id="rangoFechasListadoInmuebles" class="form-control" title="Rango Fechas">
    </div>
		<div style="margin-bottom: 20pt; text-align: left;" class="col-xl-2 col-lg-3 col-md-6 col-sm-12 col-xs-12">
      <label class="labelComun">Comuna</label>
      <select id="comunaListadoInmuebles" class="form-control" title="Comuna">
      </select>
    </div>
		<div style="margin-bottom: 20pt; text-align: left;" class="col-xl-2 col-lg-3 col-md-6 col-sm-12 col-xs-12">
      <label class="labelComun">Región</label>
      <select id="regionListadoInmuebles" class="form-control" title="Región">
      </select>
    </div>
		<div style="margin-bottom: 20pt; text-align: left;" class="col-xl-2 col-lg-3 col-md-6 col-sm-12 col-xs-12">
      <label class="labelComun">Tipo contacto</label>
      <select id="tipoContactoListadoInmuebles" class="form-control" title="Tipo contacto">
        <option value="Todos">Todos</option>
        <option value="Corredora">Corredora</option>
        <option value="Particular">Particular</option>
      </select>
    </div>
		<div style="margin-bottom: 20pt; text-align: left;" class="col-xl-2 col-lg-3 col-md-6 col-sm-12 col-xs-12">
      <label class="labelComun">Dormitorios: <i id="cantidadDormitoriosListadoInmuebles">Todos</i></label>
      <br>
      <input id="dormitoriosListadoInmuebles" type="range" class="form-range" min="0" max="10" step="1" title="Dormitorios" value="0">
    </div>
		<div style="margin-bottom: 20pt; text-align: left;" class="col-xl-2 col-lg-3 col-md-6 col-sm-12 col-xs-12">
      <label class="labelComun">Baños: <i id="cantidadBanosListadoInmuebles">Todos</i></label>
      <br>
      <input id="banosListadoInmuebles" type="range" class="form-range" min="0" max="10" step="1" title="Baños" value="0">
    </div>
    <div id="divTablaListadoInmuebles" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt; text-align: left; margin-bottom: 30pt;">
      <table id="tablaListadoInmuebles" class="cell-border compact" style="width: 100%;">
        <thead>
          <tr>
            <th class='celdaColor' style='border: 1pt solid white;'>S</th>
            <th class='celdaColor' style='border: 1pt solid white;'>Folio</th>
            <th class='celdaColor' style='border: 1pt solid white;'>F. Despliegue</th>
            <th class='celdaColor' style='border: 1pt solid white;'>Habitacional</th>
            <th class='celdaColor' style='border: 1pt solid white;'>Tipo Contacto</th>
            <th class='celdaColor' style='border: 1pt solid white;'>Tipo Operacion</th>
            <th class='celdaColor' style='border: 1pt solid white;'>Nombre</th>
            <th class='celdaColor' style='border: 1pt solid white;'>Email</th>
            <th class='celdaColor' style='border: 1pt solid white;'>Telefono</th>
            <th class='celdaColor' style='border: 1pt solid white;'>Nombre Corredora</th>
            <th class='celdaColor' style='border: 1pt solid white;'>Tipo Propiedad</th>
            <th class='celdaColor' style='border: 1pt solid white;'>Comuna</th>
            <th class='celdaColor' style='border: 1pt solid white;'>Region</th>
            <th class='celdaColor' style='border: 1pt solid white;'>Mts. Utiles</th>
            <th class='celdaColor' style='border: 1pt solid white;'>Mts. Terraza</th>
            <th class='celdaColor' style='border: 1pt solid white;'>Mts. Terreno</th>
            <th class='celdaColor' style='border: 1pt solid white;'>Dormitorios</th>
            <th class='celdaColor' style='border: 1pt solid white;'>Banos</th>
            <th class='celdaColor' style='border: 1pt solid white;'>Precio Pesos</th>
            <th class='celdaColor' style='border: 1pt solid white;'>Precio UF</th>
            <th class='celdaColor' style='border: 1pt solid white;'>Moneda</th>
            <th class='celdaColor' style='border: 1pt solid white;'>Direccion Calle</th>
            <th class='celdaColor' style='border: 1pt solid white;'>Direccion Depto.</th>
            <th class='celdaColor' style='border: 1pt solid white;'>Direccion Numero</th>
            <th class='celdaColor' style='border: 1pt solid white;'>URL</th>
            <th class='celdaColor' style='border: 1pt solid white;'>Observaciones</th>
            <th class='celdaColor' style='border: 1pt solid white;'>Titulo</th>
            <th class='celdaColor' style='border: 1pt solid white;'>URL</th>
          </tr>
        </thead>
        <tbody id="cuerpoTablaListadoInmuebles" style="text-align: left;">

        </tbody>
      </table>
    </div>
    <!-- Botones -->
  <div id="accionesInmuebles" class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-right: 0;">

  </div>
  </div>

<script>
  //Para interactuar con la tabla de productos
  // $('#tablaListadoInmuebles tbody').on( 'click', 'tr', function () {
  //   var table = $('#tablaListadoInmuebles').DataTable();
  //   if ( $(this).hasClass('selected') ) {
  //       $("#editarUsuario").attr("disabled","disabled");
  //       $("#usuarioResetPass").attr("disabled","disabled");
  //   }
  //   else {
  //       table.$('tr.selected').removeClass('selected');
  //       $("#editarUsuario").removeAttr("disabled");
  //       $("#usuarioResetPass").removeAttr("disabled");
  //   }
  // });
</script>
