@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  min-height: 100%;
  position: relative;
}

.blink_me {
  animation: blinker 1.0s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

body {
  margin: 0;
  margin-bottom: 0pt;
  overflow-x: hidden;
  overflow-y: scroll;
}

img {
    image-orientation: from-image;
}

div#body{
	position:absolute;
	right:0px;
	min-height:200pt;
	left:200px;
}

.centerDiv{
  display: flex;
  align-items: center;
  justify-content: center;
}

#changePass{
  display: flex;
  align-items: center;
  justify-content: center;
}

#header {
  text-align: center;
  display: none;
}

#contenido{
  /* margin-left:1px; */
  margin-left: 0pt;
  transition-property: margin-left, margin-right;
  transition-duration: 0.8s;
  transition-delay: 0s;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

#cargando{
  text-align: center;
}

#iconoLogoMenu{
  border: 1px solid white;
  padding: 7px;
  background-color: #006B00;
}

.splash_charge_logo {
  display: block;
  margin:0 auto 0 auto;
  width: 200pt;
  margin-bottom:10pt;
}

/* Modales */
.modal {
  text-align: center;
  background-color: rgba(0,0,0,.0001) !important;
  border: 0;
}

.modal-body{
  border: 0;
}

.alerta-modal-body {
  text-align: center;
  opacity: 1;
  border: 0;
}

.modal-backdrop {
  background-color: white !important;
  opacity: 0.98 !important;
}

@media screen and (min-width: 200pt) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

@media screen and (min-width: 768pt) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-fullscreen .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}


/* Movil */
@media (min-width: 300px) {
  .modal-fullscreen .modal-dialog {
    width: 290px;
  }
  #loginSystem{
    margin-top: 20px;
  }
  #colorLoginTitle{
    color: black;
  }
}
@media (min-width: 300px) and (orientation: landscape){
  .modal-fullscreen .modal-dialog {
    width: 290px;
  }
  #loginSystem{
    margin-top: 20px;
  }
  #colorLoginTitle{
    color: black;
  }
}
@media (min-width: 768px) {
  .modal-fullscreen .modal-dialog {
    width: 750px;
  }
  #loginSystem{
    margin-top: 70px;
  }
  #colorLoginTitle{
    color: black;
  }
}
@media (min-width: 992px) {
  .modal-fullscreen .modal-dialog {
    width: 970px;
  }
  #loginSystem{
    margin-top: 90px;
  }
  #colorLoginTitle{
    color: black;
  }
}
@media (min-width: 1200px) {
  .modal-fullscreen .modal-dialog {
     width: 1170px;
  }
  #loginSystem{
    margin-top: 170px;
  }
  #colorLoginTitle{
    color: black;
  }
}
/* Movil */

.modal-content-t {
  border: 0;
  background-color: transparent !important;
}

.modal-dialog-box {
  -webkit-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.56);
  -moz-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.56);
  box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.56);
}

.celdaColor{
  background-color: #006B00!important;
  color: white;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: none;
  color: black!important;
  border-radius: 4px;
  border: 0px solid #828282;
  font-weight: bold!important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  background: none;
  color: #c1c1c1!important;
  border-radius: 4px;
  border: 0px solid #828282;
  font-weight: bold!important;
}

td {
  font-size: 10pt;
}

th {
  font-size: 10pt;
}

.datatable td, th, tr {
    overflow: hidden; /* this is what fixes the expansion */
    text-overflow: ellipsis; /* not supported in all browsers, but I accepted the tradeoff */
    white-space: nowrap;
}

.toolbar{
  color: black!important;
  text-decoration: none;
}

.dataTables_filter{
  color: black!important;
  text-decoration: none;
}

.dataTables_info{
  color: black!important;
  text-decoration: none;
  font-weight: bold!important;
}

.centerDataTable {
  text-align: center;
}

.splash_load{
  display: block;
  margin:0 auto 0 auto;
  width: 80px;
}

.select2-results__option{
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  margin-left: 5px !important;
  margin-right: 5px !important;
}

svg > g > g:last-child { pointer-events: none }

#loginSystem-submit:hover{
  opacity: 0.4;
}

.botonComun{
  margin-top: 20pt;
}

.cuerpo{
  padding-left: 20pt;
  padding-right: 20pt;
}

.cuerpo_filtros{
  padding-left: 10pt;
  padding-right: 10pt;
}

div#filtrosTarjetaCombustible,div#filtrosComprasGestion,div#filtrosComprasMaterial,div#filtrosOrden,div#filtrosFormulariosRealizados,div#filtrosPersonal,div#filtrosListadoVehiculo,div#filtrosOcultPracticaMeta,div#filtrosListadoAsignaciones,div#filtrosMetaPractica,div#filtrosComprasServicio{
  transition: height 0.3s linear 0.1s;
}

.labelComun{
  font-weight: bold;
}

.hr-separador{
  height: 2px;
  color: gray;
  width: 100%;
}

.custom-header{
  background: #006B00!important;
  color: white;
}

.ms-elem-selectable{
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 5px;
}

.ms-elem-selection.ms-selected{
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 5px;
}

@import 'https://code.highcharts.com/css/highcharts.css';
#divOrganigramaCorporativo {
  min-width: 300px;
  margin: 1em auto;
 /* border: 1px solid silver;*/
}

#divOrganigramaCorporativo h4 {
  font-size: 11pt;
}

#divOrganigramaCorporativo p {
  font-size: 9pt;
}

.highcharts-credits{
  display: none !important;
}

.highcharts-background{
  width: 100% !important;
}

.ui-datepicker-div{
  z-index: 2000 !important;
}

.hoverPDF:hover{
  color: blue !important;
  cursor: pointer !important;
}

.pac-container:after {
    /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */
    background-image: none !important;
    height: 0px;
}

.ui-autocomplete {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 200px;
    z-index: 2000;
}
.pac-container {
  z-index: 1051 !important;
}

.videoCap {
  -webkit-box-shadow: 10px 10px 24px -12px rgba(0,0,0,0.82);
  -moz-box-shadow: 10px 10px 24px -12px rgba(0,0,0,0.82);
  box-shadow: 10px 10px 24px -12px rgba(0,0,0,0.82);
  background-color: #000000;
}

/* .ng-scope{
  padding-left: 35px !important;
} */

.centerDataTableCant {
  text-align: center;
  font-size: 10px;
}

.celdaColorCant{
  border-bottom: 1px solid #006B00 !important;
}

.leftDataTableCant {
  text-align: left;
  font-size: 10px;
  padding-left: 150px;
}

.pq-grid td.chart{
  padding: 0px;
}

.progress-bar {
    background-color: #095700;
}

.progress-bar-striped {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
}

body.modal-open {
  height: 100vh;
  overflow-y: hidden;
}

.fancy-grid-cell{
  padding-top: 5pt;
}

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 22px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 22px;
}

.slider.round:before {
  border-radius: 50%;
}

table {
  cursor: pointer !important;
}

span[name="dirOrden"]:hover{
  color: red;
}

.hoverDel:hover{
  color: red !important;
}

label.click_cubica:hover{
	color: blue;
  cursor: pointer;
}

.select2-error {
  border:1px solid #DC3545 !important;
}

/* .select2-selection__rendered {
    line-height: 34px !important;
}
.select2-container .select2-selection--single {
    height: 38px !important;
}
.select2-selection__arrow {
    height: 36px !important;
} */

.celdaColorCub1{
  background-color: rgba(0,56,101,0.8) !important;
  color: white;
}

.celdaColorCub2{
  background-color: rgba(0,56,101,0.6) !important;
  color: white;
}

.sombraDiv{
  -webkit-box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.41);
  -moz-box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.41);
  box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.41);
  border: 1px solid #e0e0e0;
  border-radius: 15px;
}

.fancy-panel-tbar{
  background-color: #006B00 !important;
  color: white !important;
}

.fancy-button-text{
  background-color: #006B00 !important;
  color: white !important;
  border-color: white !important;
}

.fancy-bar-button{
  background-color: #006B00 !important;
  color: white !important;
  border-color: white !important;
}

.fancy-grid-header-cell-container{
  background-color: #006B00 !important;
  color: white !important;
  border-color: white !important;
}

.fancy-bar-left-scroller{
  background-color: #006B00 !important;
  color: white !important;
  border-color: white !important;
}

.fancy-bar-right-scroller{
  background-color: #006B00 !important;
  color: white !important;
  border-color: white !important;
}

.fancy-button-image{
  color: white!important;
}

.hoverTABLA:hover{
  color: red !important;
  cursor: pointer !important;
}

.nav-link:hover{
  /* color: blue !important; */
  cursor: pointer !important;
}

.noSelect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}

#footerLogin{
  position:fixed;
  left:0;
  top:0;
  margin:0;
  padding:0;
  margin-left: 10px;
  margin-top: 10px;
  height 80px;
}

#footerLoginOk{
  margin-top: 100pt;
  height: 80px;
}

.tituloCentral{
  font-weight: bold;
  font-size: 50px;
  color: black;
}

.cuerpoCentral{
  text-align: center;
  font-size: 25px;
  color: black;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited {
    background-color: #006B00!important;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #6C757D!important;
}

div[class$="dataTables_processing"]{
  z-index: 1000;
  color: red!important;
}

.leftDataTable {
  text-align: left;
}

/* == Menu == */
.dropdown-submenu {
  position: relative;
}

.dropdown-menu {
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.1);
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.1)
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
  background-color: #0E1D1A;
}

.dropdown-submenu .dropdown-item {
  color: rgba(255, 255, 255, 0.5);
}

.dropdown-submenu .dropdown-item:hover,
.dropdown-submenu .dropdown-item:focus {
  color: rgba(255, 255, 255, 0.75);
  background-color: #0E1D1A;
}

.general-dropdown {
  position: relative;
}

.general-dropdown .dropdown-menu {
  border-top: #0E1D1A;
  margin-top: 5px;
  min-width: 200px;
  right: auto;
  left: 0;
  background-color: #0E1D1A;
  padding: 5px;
}

.general-dropdown .dropdown-item {
  color: rgba(255, 255, 255, 0.5);
}

.general-dropdown .dropdown-item:hover,
.general-dropdown .dropdown-item:focus {
  color: rgba(255, 255, 255, 0.75);
  background-color: #0E1D1A;
}

.general-dropdown img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-dropdown {
  position: relative;
}

.user-dropdown .dropdown-menu {
  border-top: #0E1D1A;
  margin-top: 5px;
  min-width: 200px;
  right: 0;
  left: auto;
  background-color: #0E1D1A;
  padding: 5px;
}

.user-dropdown .dropdown-item {
  color: rgba(255, 255, 255, 0.5);
}

.user-dropdown .dropdown-item:hover,
.user-dropdown .dropdown-item:focus {
  color: rgba(255, 255, 255, 0.75);
  background-color: #0E1D1A;
}

.user-dropdown img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.nav-link i {
  margin-right: 5px;
}

.title-menu-sub {
  font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link.active {
  color: var(--light);
  background-color: #0E1D1A;
}

.navbar-dark .navbar-nav .nav-link.active:hover,
.navbar-dark .navbar-nav .nav-link.active:focus {
  color: var(--light);
  background-color: #0E1D1A;
}

.navbar-dark .navbar-nav .dropdown-item.active {
  color: rgba(255, 255, 255, 1);
  background-color: #142a25;
}

.navbar-dark .navbar-nav .dropdown-item.active:hover,
.navbar-dark .navbar-nav .dropdown-item.active:focus {
  color: rgba(255, 255, 255, 0.75);
  background-color: #0E1D1A;
}

.bg-custom {
  background-color: #0E1D1A;
}

.dropdown-item {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
/* == Fin Menu == */
