<div class="row" style="padding-left: 20pt; padding-right: 20pt;">
  <div style="margin-bottom: 20pt; text-align: right;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <font style="font-weight: bold; font-size: 15pt; margin-left: 10pt;">
      <span style="color: gray; margin-left: 10pt; margin-top: 20pt;" class="fas fa-user-edit">&nbsp;&nbsp;Dotaci&oacute;n</span>
    </font>
  </div>

  <div style="margin-bottom: 20pt; text-align: lefT;" class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <label>Periodo</label>
        <select id="selectListaPeriodos" class="form-control">
        </select>
      </div>

      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <label>Centro de Costo</label>
        <select id="selectListaLugares" class="form-control">
        </select>
      </div>
    </div>
  </div>

  <div id="divTablaListadoDotacion" class="col-xl-12 col-lg-12 col-md-12 col-sm-12" style="margin-top: 10pt; text-align: left;">
    <table id="tablaListadoDotacion" class="cell-border compact" style="width: 100%">
      <thead>
        <tr>
          <th class="celdaColor" style="border: 1pt solid white;">ID</th>
          <th class="celdaColor" style="border: 1pt solid white;">PERSONAL OFERTADO</th>
          <th class="celdaColor" style="border: 1pt solid white;">FAMILIA</th>
          <th class="celdaColor" style="border: 1pt solid white;">CARGO MANDANTE</th>
          <th class="celdaColor" style="border: 1pt solid white;">CARGO GENÉRICO UNIFICADO</th>
          <th class="celdaColor" style="border: 1pt solid white;">JEAS GEAS</th>
          <th class="celdaColor" style="border: 1pt solid white;">REF 1 (Código Cargo)</th>
          <th class="celdaColor" style="border: 1pt solid white;">REF 2 (Código Especialidad)</th>
          <th class="celdaColor" style="border: 1pt solid white;">ene</th>
          <th class="celdaColor" style="border: 1pt solid white;">feb</th>
          <th class="celdaColor" style="border: 1pt solid white;">mar</th>
          <th class="celdaColor" style="border: 1pt solid white;">abr</th>
          <th class="celdaColor" style="border: 1pt solid white;">may</th>
          <th class="celdaColor" style="border: 1pt solid white;">jun</th>
          <th class="celdaColor" style="border: 1pt solid white;">jul</th>
          <th class="celdaColor" style="border: 1pt solid white;">ago</th>
          <th class="celdaColor" style="border: 1pt solid white;">sep</th>
          <th class="celdaColor" style="border: 1pt solid white;">oct</th>
          <th class="celdaColor" style="border: 1pt solid white;">nov</th>
          <th class="celdaColor" style="border: 1pt solid white;">dic</th>
        </tr>
      </thead>
      <tbody id="cuerpoTablaDotacion" style="text-align: left;">
      </tbody>
    </table>
  </div>

  <div id="accionesDotacion" class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-xs-12" style="padding-right: 0;">
      <button id="newDotacion" type="button" class="form-control btn btn-secondary botonComun" disabled>
        <span class="fas fa-plus"></span>
        &nbsp;&nbsp;Nuevo
      </button>
    </div>

    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-xs-12" style="padding-right: 0;">
      <button id="saveDotacion" class="form-control btn btn-secondary botonComun" disabled>
        <span class="fas fa-save"></span>
        &nbsp;&nbsp;Grabar
      </button>
    </div>

    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-xs-12" style="padding-right: 0;">
      <button id="newAnho" class="form-control btn btn-secondary botonComun">
        <span class="fas fa-save"></span>
        &nbsp;&nbsp;Aperturar Año
      </button>
    </div>
  </div>
</div>
<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++) {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
  var js = document.createElement('script');
  js.src = 'view/js/funciones.js?idload=59';
  document.getElementsByTagName('head')[0].appendChild(js);
</script>
