<div id="dotacion" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 20pt; padding-right: 20pt;">
  <h1>Dotacion</h1>
  
  <div style="margin-bottom: 20pt; text-align: lefT;" class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
    <select id="selectListaLugares" class="form-control">
    </select>
  </div>

  <div id="divTablaListadoDotacion" class="col-xl-12 col-lg-12 col-md-12 col-sm-12" style="margin-top: 10pt; text-align: left;">
    <table id="tablaListadoDotacion" class="cell-border compact" style="width: 100%">
      <thead>
        <tr>
          <th class="celdaColor" style="border: 1pt solid white;">ID</th>
          <th class="celdaColor" style="border: 1pt solid white;">PERSONAL OFERTADO</th>
          <th class="celdaColor" style="border: 1pt solid white;">CARGO MANDANTE BASES LICITACIÓN</th>
          <th class="celdaColor" style="border: 1pt solid white;">CARGO GENÉRICO UNIFICADO</th>
          <th class="celdaColor" style="border: 1pt solid white;">FAMILIA</th>
          <th class="celdaColor" style="border: 1pt solid white;">JEAS GEAS</th>
          <th class="celdaColor" style="border: 1pt solid white;">REF 1 (Código Cargo)</th>
          <th class="celdaColor" style="border: 1pt solid white;">REF 2 (Código Especialidad)</th>
          <th class="celdaColor" style="border: 1pt solid white;">ene-22</th>
          <th class="celdaColor" style="border: 1pt solid white;">feb-22</th>
          <th class="celdaColor" style="border: 1pt solid white;">mar-22</th>
          <th class="celdaColor" style="border: 1pt solid white;">abr-22</th>
          <th class="celdaColor" style="border: 1pt solid white;">may-22</th>
          <th class="celdaColor" style="border: 1pt solid white;">jun-22</th>
          <th class="celdaColor" style="border: 1pt solid white;">jul-22</th>
          <th class="celdaColor" style="border: 1pt solid white;">ago-22</th>
          <th class="celdaColor" style="border: 1pt solid white;">sept-22</th>
          <th class="celdaColor" style="border: 1pt solid white;">oct-22</th>
          <th class="celdaColor" style="border: 1pt solid white;">nov-22</th>
          <th class="celdaColor" style="border: 1pt solid white;">dic-22</th>
        </tr>
      </thead>
      <tbody id="cuerpoTablaDotacion" style="text-align: left;">
      </tbody>
    </table>
  </div>

  <div id="accionesDotacion" class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-right: 0;">
    <button id="saveDotacion" class="btn btn-primary">Guardar</button>
  </div>
</div>
<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++) {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
  var js = document.createElement('script');
  js.src = 'view/js/funciones.js?idload=9';
  document.getElementsByTagName('head')[0].appendChild(js);
</script>
