<div class="row" style="padding-left: 20pt; padding-right: 20pt;">
  <div style="margin-bottom: 20pt; text-align: right;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <font style="font-weight: bold; font-size: 15pt; margin-left: 10pt;">
      <span style="color: gray; margin-left: 10pt; margin-top: 20pt;" class="fas fa-user-friends">&nbsp;&nbsp;Planilla Asistencia</span>
    </font>
  </div>
  
  <div style="margin-bottom: 20pt; text-align: lefT;" class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <label>Centro de Costo</label>
        <select id="selectListaCentrosDeCostos" class="form-control">
        </select>
      </div>

      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12">
        <label>Año</label>
        <select id="selectListaAnhos" class="form-control">
        </select>
      </div>

      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12">
        <label>Mes</label>
        <select id="selectListaMeses" class="form-control">
        </select>
      </div>

      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <label>Semana</label>
        <select id="selectListaSemanas" class="form-control">
        </select>
      </div>
    </div>
  </div>

  <div id="divTablaListadoPlanillaAsistencia" class="col-xl-12 col-lg-12 col-md-12 col-sm-12" style="margin-top: 10pt; text-align: left;">
    <table id="tablaListadoPlanillaAsistencia" class="cell-border compact" style="width: 100%">
      <thead>
        <tr>
          <th class="celdaColor" style="border: 1pt solid white;">RUT</th>
          <th class="celdaColor" style="border: 1pt solid white;">APELLIDOS Y NOMBRES</th>
          <th class="celdaColor" style="border: 1pt solid white;">CARGO LIQUIDACIÓN</th>
          <th class="celdaColor" style="border: 1pt solid white;">CARGO GENÉRICO</th>
          <th class="celdaColor" style="border: 1pt solid white;">JEAS</th>
          <th class="celdaColor" style="border: 1pt solid white;">REF1</th>
          <th class="celdaColor" style="border: 1pt solid white;">REF2</th>
          <th class="celdaColor" style="border: 1pt solid white;">CARGO GENÉRICO B</th>
          <th class="celdaColor" style="border: 1pt solid white;">JEAS B</th>
          <th class="celdaColor" style="border: 1pt solid white;">REF 1 B</th>
          <th class="celdaColor" style="border: 1pt solid white;">REF 2 B</th>
          <th class="celdaColor" style="border: 1pt solid white;">RUT</th>
          <th class="celdaColor" style="border: 1pt solid white;">FECHA</th>
          <th class="celdaColor" style="border: 1pt solid white;">Lu</th>
          <th class="celdaColor" style="border: 1pt solid white;">Ma</th>
          <th class="celdaColor" style="border: 1pt solid white;">Mi</th>
          <th class="celdaColor" style="border: 1pt solid white;">Ju</th>
          <th class="celdaColor" style="border: 1pt solid white;">Vi</th>
          <th class="celdaColor" style="border: 1pt solid white;">Sá</th>
          <th class="celdaColor" style="border: 1pt solid white;">Do</th>
          <th class="celdaColor" style="border: 1pt solid white;">DÍAS</th>
          <th class="celdaColor" style="border: 1pt solid white;">HE50</th>
          <th class="celdaColor" style="border: 1pt solid white;">HE100</th>
          <th class="celdaColor" style="border: 1pt solid white;">ATRASO</th>
        </tr>
      </thead>
      <tbody id="cuerpoTablaPlanillaAsistencia" style="text-align: left;">
      </tbody>
    </table>
  </div>

  <div id="accionesPlanilla" class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-xs-12" style="padding-right: 0;">
      <button id="savePlanilla" class="form-control btn btn-secondary botonComun" disabled>
        <span class="fas fa-save"></span>
        &nbsp;&nbsp;Grabar
      </button>
    </div>
  </div>
</div>
<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++) {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
  var js = document.createElement('script');
  js.src = 'view/js/funciones.js?idload=14';
  document.getElementsByTagName('head')[0].appendChild(js);
</script>
