<div class="row" style="padding-left: 20pt; padding-right: 20pt;">
  <div style="margin-bottom: 20pt; text-align: right;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <font style="font-weight: bold; font-size: 15pt; margin-left: 10pt;">
      <span style="color: gray; margin-left: 10pt; margin-top: 20pt;" class="fas fa-user-check">&nbsp;&nbsp;Planilla Asistencia</span>
    </font>
  </div>

  <div style="margin-bottom: 20pt; text-align: lefT;" class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
      <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12">
        <label>Centro de Costo</label>
        <select id="selectListaCentrosDeCostos" class="form-control">
        </select>
      </div>

      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12">
        <label>Año</label>
        <select id="selectListaAnhos" class="form-control">
        </select>
      </div>

      <!--<div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12">
        <label>Mes</label>
        <select id="selectListaMeses" class="form-control">
        </select>
      </div>-->

      <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12">
        <label>Semana</label>
        <select id="selectListaSemanas" class="form-control">
        </select>
      </div>
    </div>
  </div>

  <div id="divTablaListadoPlanillaAsistencia" class="col-xl-12 col-lg-12 col-md-12 col-sm-12" style="margin-top: 10pt; text-align: left;">
    <table id="tablaListadoPlanillaAsistencia" class="cell-border compact" style="width: 100%">
      <thead>
        <tr>
          <th class="celdaColor" style="border: 1pt solid white; text-align: center;" colspan="8">Datos Generales</th>
          <th class="celdaColor" style="border: 1pt solid white; text-align: center;" colspan="4">Información en Terreno</th>
          <th class="celdaColor" style="border: 1pt solid white; text-align: center;" colspan="1">Reemplazo</th>
          <th class="celdaColor" style="border: 1pt solid white; text-align: center;" colspan="4">Fechas</th>
          <th class="celdaColor" style="border: 1pt solid white; text-align: center;" colspan="12">Asistencia</th>
        </tr>
        <tr>
          <th class="celdaColor" style="border: 1pt solid white;">S</th>
          <th class="celdaColor" style="border: 1pt solid white;">RUT</th>
          <th class="celdaColor" style="border: 1pt solid white;">Apellidos y Nombres</th>
          <th class="celdaColor" style="border: 1pt solid white;">Cargo Liquidación</th>
          <th class="celdaColor" style="border: 1pt solid white;">Cargo Genérico</th>
          <th class="celdaColor" style="border: 1pt solid white;">JEAS</th>
          <th class="celdaColor" style="border: 1pt solid white;">REF1</th>
          <th class="celdaColor" style="border: 1pt solid white;">REF2</th>
          <th class="celdaColor" style="border: 1pt solid white;">Cargo Genérico</th>
          <th class="celdaColor" style="border: 1pt solid white;">JEAS</th>
          <th class="celdaColor" style="border: 1pt solid white;">REF 1</th>
          <th class="celdaColor" style="border: 1pt solid white;">REF 2</th>
          <th class="celdaColor" style="border: 1pt solid white;">RUT</th>
          <th class="celdaColor" style="border: 1pt solid white;">Fecha Ingreso</th>
          <th class="celdaColor" style="border: 1pt solid white;">Fecha Término</th>
          <th class="celdaColor" style="border: 1pt solid white;">Nro. de Contrato</th>
          <th class="celdaColor" style="border: 1pt solid white;">Temporal</th>
          <th class="celdaColor" style="border: 1pt solid white;" id="plAs_0">Lu</th>
          <th class="celdaColor" style="border: 1pt solid white;" id="plAs_1">Ma</th>
          <th class="celdaColor" style="border: 1pt solid white;" id="plAs_2">Mi</th>
          <th class="celdaColor" style="border: 1pt solid white;" id="plAs_3">Ju</th>
          <th class="celdaColor" style="border: 1pt solid white;" id="plAs_4">Vi</th>
          <th class="celdaColor" style="border: 1pt solid white;" id="plAs_5">Sá</th>
          <th class="celdaColor" style="border: 1pt solid white;" id="plAs_6">Do</th>
          <th class="celdaColor" style="border: 1pt solid white;">Días</th>
          <th class="celdaColor" style="border: 1pt solid white;">HE50</th>
          <th class="celdaColor" style="border: 1pt solid white;">HE100</th>
          <th class="celdaColor" style="border: 1pt solid white;">Atraso</th>
          <th class="celdaColor" style="border: 1pt solid white;">Observación</th>
        </tr>
      </thead>
      <tbody id="cuerpoTablaPlanillaAsistencia" style="text-align: left;">
      </tbody>
    </table>
  </div>

  <div style="margin-bottom: 20px;" id="accionesPlanilla" class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <!--<div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-xs-12" style="padding-right: 0;">
      <button id="savePlanilla" class="form-control btn btn-secondary botonComun">
        <span class="fas fa-save"></span>
        &nbsp;&nbsp;Grabar
      </button>
    </div>-->
  </div>
</div>
<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++) {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}

  var js1 = document.createElement('script');
  js1.src = 'view/js/helpers/constants.js?idLoad=75';
  document.getElementsByTagName('head')[0].appendChild(js1);

  var js2 = document.createElement('script');
  js2.src = 'view/js/helpers/config.js?idLoad=75';
  document.getElementsByTagName('head')[0].appendChild(js2);

  var js3 = document.createElement('script');
  js3.src = 'view/js/helpers/validations.js?idLoad=75';
  document.getElementsByTagName('head')[0].appendChild(js3);

  var js4 = document.createElement('script');
  js4.src = 'view/js/helpers/functions.js?idLoad=75';
  document.getElementsByTagName('head')[0].appendChild(js4);

  var js = document.createElement('script');
  js.src = 'view/js/funciones.js?idLoad=75';
  document.getElementsByTagName('head')[0].appendChild(js);

  $('#tablaListadoPlanillaAsistencia tbody').on( 'click', 'tr', function () {
      setTimeout(async function(){
        var table = $('#tablaListadoPlanillaAsistencia').DataTable();
        var datos = table.rows('.selected').data();
        if(table.rows('.selected').data().length > 0){
          if(table.rows('.selected').data().length > 1){
            $("#editarPlanillaAsistencia").removeAttr("disabled");
          }
          else{
            $("#editarPlanillaAsistencia").removeAttr("disabled");
          }
        }
        else{
          $("#editarPlanillaAsistencia").attr("disabled", "disabled");
        }
      },100);
  });
</script>
