<div class="row" style="padding-left: 20pt; padding-right: 20pt;">
    <div style="margin-bottom: 20pt; text-align: right;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <font style="font-weight: bold; font-size: 15pt; margin-left: 10pt;">
            <span style="color: gray;" class="fas fa-file-contract">&nbsp;&nbsp;Listado de Contratos</span>
        </font>
  </div>
    <div id="divTablaListadoContratos" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt; text-align: left;">
      <table id="tablaListadoContratos" class="cell-border compact" style="width: 100%;">
        <thead>
          <tr>
            <th class="celdaColor" style="border: 1pt solid white;">S</th>
            <th class="celdaColor" style="border: 1pt solid white;">Nombre</th>
            <th class="celdaColor" style="border: 1pt solid white;">Año</th>
            <th class="celdaColor" style="border: 1pt solid white;">ID Contrato</th>
          </tr>
        </thead>
        <tbody id="cuerpoTablaListadoContratos" style="text-align: left;">

        </tbody>
      </table>
    </div>
<!-- Botones -->
<div id="accionesContratos" class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-right: 0;">

</div>
</div>

<script>
//Para interactuar con los botones
$('#tablaListadoContratos tbody').on( 'click', 'tr', function () {
    var table = $('#tablaListadoContratos').DataTable();
    if ( $(this).hasClass('selected') ) {
    $("#editarContrato").attr("disabled","disabled");
    $("#eliminarContrato").attr("disabled","disabled");
    }
    else {
        table.$('tr.selected').removeClass('selected');
    $("#editarContrato").removeAttr("disabled");
    $("#eliminarContrato").removeAttr("disabled");
    }
});

</script>