<div class="row" style="padding-left: 20pt; padding-right: 20pt;">
    <div style="text-align: right;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <font style="font-weight: bold; font-size: 15pt; margin-left: 10pt;">
            <span style="color: gray;" class="fas fa-list-ul">&nbsp;&nbsp;Listado de órdenes de trabajo</span>
        </font>
  </div>
    <div id="divTablaListadoOrdenesTrabajo" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt; text-align: left;">
      <table id="tablaListadoOrdenesTrabajo" class="cell-border compact" style="width: 100%;">
        <thead>
          <tr>
            <th class="celdaColor" style="border: 1pt solid white;">S</th>
            <th class="celdaColor" style="border: 1pt solid white;">Folio</th>
            <th class="celdaColor" style="border: 1pt solid white;">Folio Obra</th>
            <th class="celdaColor" style="border: 1pt solid white;">Orden de ejecución</th>
            <th class="celdaColor" style="border: 1pt solid white;">Estado</th>
            <th class="celdaColor" style="border: 1pt solid white;">Tipo</th>
            <th class="celdaColor" style="border: 1pt solid white;">Presupuesto</th>
            <th class="celdaColor" style="border: 1pt solid white;">Cubicación</th>
            <th class="celdaColor" style="border: 1pt solid white;">Contrato</th>
            <th class="celdaColor" style="border: 1pt solid white;">Agencia</th>
            <th class="celdaColor" style="border: 1pt solid white;">Gestor Cliente</th>
            <th class="celdaColor" style="border: 1pt solid white;">Supervisor</th>
            <th class="celdaColor" style="border: 1pt solid white;">Empresa</th>
            <th class="celdaColor" style="border: 1pt solid white;">Jefe Brigada</th>
            <th class="celdaColor" style="border: 1pt solid white;">F. de término OE</th>
            <th class="celdaColor" style="border: 1pt solid white;">F. inicio ejecución</th>
            <th class="celdaColor" style="border: 1pt solid white;">F. fin ejecución</th>
            <th class="celdaColor" style="border: 1pt solid white;">F. de asignación</th>
            <th class="celdaColor" style="border: 1pt solid white;">F. de ingreso</th>
            <th class="celdaColor" style="border: 1pt solid white;">Hora de ingreso</th>
          </tr>
        </thead>
        <tbody id="cuerpoTablaListadoOrdenesTrabajo" style="text-align: left;">

        </tbody>
      </table>
    </div>
<!-- Botones -->
  <div id="accionesListadoOrdenesTrabajo" class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-right: 0;">
  </div>
</div>
<script>
//Para interactuar con la tabla de productos
$('#tablaListadoOrdenesTrabajo tbody').on( 'click', 'tr', function () {
    setTimeout(async function(){
      var table = $('#tablaListadoOrdenesTrabajo').DataTable();
      var datos = table.rows('.selected').data();
			if(table.rows('.selected').data().length > 0){
        $("#asignarSubcc").removeAttr("disabled");
        $("#duplicarOt").removeAttr("disabled");
        $("#asignarFechaTerreno").removeAttr("disabled");
        $("#eliminarOt").removeAttr("disabled");
        $("#detalleOrdenEjecucionOT").removeAttr("disabled");
        $("#pedirMaterialesObra").removeAttr("disabled");
      }
      else{
        $("#asignarSubcc").attr("disabled", "disabled");
        $("#duplicarOt").attr("disabled", "disabled");
        $("#asignarFechaTerreno").attr("disabled", "disabled");
        $("#eliminarOt").attr("disabled", "disabled");
        $("#detalleOrdenEjecucionOT").attr("disabled", "disabled");
        $("#pedirMaterialesObra").attr("disabled", "disabled");
      }
    },100);
});
</script>
