<div class="row cuerpo">
	<div style="margin-bottom: 20pt; text-align: right;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<font style="font-weight: bold; font-size: 15pt; margin-left: 10pt;">
			<span style="color: gray;" class="fas fa-city">&nbsp;&nbsp;Cliente</span>
		</font>
  </div>
	<div id="divTablaCliente" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt; text-align: left;">
	  <table id="tablaCliente" class="cell-border compact" style="width: 100%;">
	    <thead>
	      <tr>
					<th class="celdaColor" style="border: 1pt solid white;" title="Selección">S</th>
	      	<th class="celdaColor" style="border: 1pt solid white;" title="ID Cliente">ID Cliente</th>
	      	<th class="celdaColor" style="border: 1pt solid white;" title="RUT Cliente">RUT Cliente</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Cliente">Cliente</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Holding">Holding</th>
	      </tr>
	    </thead>
	    <tbody id="cuerpoTablaCliente" style="text-align: left;">
	    </tbody>
	  </table>
	</div>
	<div id="accionesClientes" class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-right: 0;">

	</div>
</div>

<script>
//Para interactuar con la tabla de productos
$('#tablaCliente tbody').on( 'click', 'tr', function () {
		setTimeout(async function(){
			var table = $('#tablaCliente').DataTable();
			var datos = table.rows('.selected').data();
			if(table.rows('.selected').data().length > 0){
				if(table.rows('.selected').data().length > 1){
					$("#editarClienteProyecto").attr("disabled", "disabled");
				}
				else{
					$("#editarClienteProyecto").removeAttr("disabled");
				}
			}
			else{
				$("#editarClienteProyecto").attr("disabled", "disabled");
			}
		},100);
});
</script>
