<div class="row cuerpo">
	<div style="margin-bottom: 20pt; text-align: right;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<font style="font-weight: bold; font-size: 15pt; margin-left: 10pt;">
			<span style="color: gray;" class="fas fa-dot-circle">&nbsp;&nbsp;Estado proyecto</span>
		</font>
  </div>
	<div id="divTablaEstadoProyecto" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt; text-align: left;">
	  <table id="tablaEstadoProyecto" class="cell-border compact" style="width: 100%;">
	    <thead>
	      <tr>
					<th class="celdaColor" style="border: 1pt solid white;" title="Selección">S</th>
						<th class="celdaColor" style="border: 1pt solid white;" title="ID Estado">ID Estado</th>
	      	<th class="celdaColor" style="border: 1pt solid white;" title="Estado">Estado</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Descripción">Descripción</th>
	      </tr>
	    </thead>
	    <tbody id="cuerpoTablaEstadoProyecto" style="text-align: left;">
	    </tbody>
	  </table>
	</div>
	<div id="accionesEstadoProyecto" class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-right: 0;">

	</div>
</div>

<script>
//Para interactuar con la tabla de productos
	$('#tablaEstadoProyecto tbody').on( 'click', 'tr', function () {
		var table = $('#tablaEstadoProyecto').DataTable();
		if ( $(this).hasClass('selected') ) {
    	$("#editarEstadoProyecto").attr("disabled","disabled");
		}
		else {
			table.$('tr.selected').removeClass('selected');
      $("#editarEstadoProyecto").removeAttr("disabled");
		}
	});
</script>
