<div class="row" style="padding-left: 20pt; padding-right: 20pt;">
    <div style="margin-bottom: 20pt; text-align: right;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <font style="font-weight: bold; font-size: 15pt; margin-left: 10pt;">
            <span style="color: gray;" class="fas fa-project-diagram">&nbsp;&nbsp;Listado de Proyectos</span>
        </font>
    </div>
    <div id="divtablaListadoProyecto" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt; text-align: left;">
        <table id="tablaListadoProyecto" class="cell-border compact" style="width: 100%;">
            <thead>
                <tr>
                    <th class="celdaColor" style="border: 1pt solid white;">S</th>
                    <th class="celdaColor" style="border: 1pt solid white;">Folio</th>
                    <th class="celdaColor" style="border: 1pt solid white;">Def. Proyecto</th>
                    <th class="celdaColor" style="border: 1pt solid white;">PEP</th>
                    <th class="celdaColor" style="border: 1pt solid white;">Cod. CRM</th>
                    <th class="celdaColor" style="border: 1pt solid white;">Proyecto</th>
                    <th class="celdaColor" style="border: 1pt solid white;">Denominación</th>
                    <th class="celdaColor" style="border: 1pt solid white;">Cod. Sociedad</th>
                    <th class="celdaColor" style="border: 1pt solid white;">Sociedad</th>
                    <th class="celdaColor" style="border: 1pt solid white;">Holding</th>
                    <th class="celdaColor" style="border: 1pt solid white;">Cliente</th>
                    <th class="celdaColor" style="border: 1pt solid white;">Estado</th>
                    <th class="celdaColor" style="border: 1pt solid white;">Gerencia</th>
                    <th class="celdaColor" style="border: 1pt solid white;">Subgerencia</th>
                    <th class="celdaColor" style="border: 1pt solid white;">Gerente</th>
                    <th class="celdaColor" style="border: 1pt solid white;">Subgerente</th>
                    <th class="celdaColor" style="border: 1pt solid white;">Admin. Contrato</th>
                    <th class="celdaColor" style="border: 1pt solid white;">Controller</th>
                    <th class="celdaColor" style="border: 1pt solid white;">F. Ini. Contrato</th>
                    <th class="celdaColor" style="border: 1pt solid white;">F. Fin Contrato</th>
                    <th class="celdaColor" style="border: 1pt solid white;">F. Ini. Operación</th>
                    <th class="celdaColor" style="border: 1pt solid white;">F. Fin Operación</th>
                    <th class="celdaColor" style="border: 1pt solid white;">Q Personas</th>
                </tr>
            </thead>
            <tbody id="cuerpotablaListadoProyecto" style="text-align: left;">

            </tbody>
        </table>
    </div>
    <!-- Botones -->
    <div id="accionesProyectos" class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-right: 0;">

    </div>
</div>

<script>
    //Para interactuar con la tabla de productos
    $('#tablaListadoProyecto tbody').on('click', 'tr', function () {
        var table = $('#tablaListadoProyecto').DataTable();
        if ($(this).hasClass('selected')) {
            $(this).removeClass('selected');
            $("#editarProyecto").attr("disabled", "disabled");
        } else {
            table.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
            $("#editarProyecto").removeAttr("disabled");
        }
    });
</script>
