<div class="row" style="padding-left: 20pt; padding-right: 20pt;">
    <div style="margin-bottom: 20pt; text-align: right;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <font style="font-weight: bold; font-size: 15pt; margin-left: 10pt;">
            <span style="color: gray;" class="far fa-file-alt">&nbsp;&nbsp;Listado de solicitud de materiales</span>
        </font>
  </div>
  <div style="margin-bottom: 20pt; text-align: left;" class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-xs-12">
    <label class="labelComun">Periodo</label>
    <input id="filtroPeriodoSolicitudMateriales" type="text" class="form-control" title="Rango-Periodo" onfocus="blur();">
  </div>
  <div style="margin-bottom: 20pt; text-align: left;" class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-xs-12">
    <label class="labelComun">Tipo Solicitud</label>
    <select id="tipoSolicitudMaterialesObras" class="form-control" title="">
    </select>
  </div>

  <div style="margin-bottom: 20pt; text-align: left;" class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-xs-12">
    <label class="labelComun">Estado</label>
    <select id="filtroEstadoSolicitudMateriales" class="form-control" title="">
    </select>
  </div>

  <div style="margin-bottom: 20pt; text-align: left;" class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-xs-12">
    <label class="labelComun">Área funcional</label>
    <select id="filtroAreaSolicitudMateriales" class="form-control" title="">
    </select>
  </div>

    <div id="divTablaListadoSolicitudMaterialesObra" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt; text-align: left;">
      <table id="tablaListadoSolicitudMaterialesObra" class="cell-border compact" style="width: 100%;">
        <thead>
          <tr>
            <th class="celdaColor" style="border: 1pt solid white;">S</th>
            <th class="celdaColor" style="border: 1pt solid white;">Folio solicitud</th>
            <th class="celdaColor" style="border: 1pt solid white;">Tipo</th>
            <th class="celdaColor" style="border: 1pt solid white;">Fecha</th>
            <th class="celdaColor" style="border: 1pt solid white;">Hora</th>
            <th class="celdaColor" style="border: 1pt solid white;">Solicitante</th>
            <th class="celdaColor" style="border: 1pt solid white;">Estado</th>
            <th class="celdaColor" style="border: 1pt solid white;">Área funcional</th>
          </tr>
        </thead>
        <tbody id="cuerpoTablaListadoSolicitudMaterialesObra" style="text-align: left;">

        </tbody>
      </table>
    </div>

<div id="accionesListadoSolicitudMaterial" class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-right: 0;">
</div>
</div>


<script>
//Para interactuar con los botones
$('#tablaListadoSolicitudMaterialesObra tbody').on( 'click', 'tr', function () {
    var table = $('#tablaListadoSolicitudMaterialesObra').DataTable();
    if ( $(this).hasClass('selected') ) {
        $("#agregarMaterial").attr("disabled","disabled");
    }
    else {
        table.$('tr.selected').removeClass('selected');
        $("#agregarMaterial").removeAttr("disabled");
    }
});
</script>
