<div class="cuerpo">
  <div id="inicioCuerpo" class="row" style="margin-top: 60pt;">
    <div style="text-align: center; margin-top: 10pt;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div id="inicioCabecera" style="font-weight: bold; font-style: italic;">
        <img id='imgLogin' style='width: 350px; min-width: 350px; max-width: 350px;' src=''>
			</div>
		</div>
		<div style="text-align: center; margin-top: 20pt; font-size: 40pt;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<img style='width: 200px; min-width: 200px; max-width: 200px;' src='view/img/img_login.png'>
		</div>
    <div id="msgDatos" style="text-align: center; margin-bottom: 10pt;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div id="inicioCabecera">
        <h4 style="font-style: italic; font-weight: bold;">Aportando calidad de vida en espacios urbanos
        </h4>
			</div>
		</div>
	</div>
</div>

<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++)
	  {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
  var js = document.createElement('script');
  js.src = 'view/js/funciones.js?idLoad=70';
  document.getElementsByTagName('head')[0].appendChild(js);
</script>
