<div class="row cuerpo">
	<div style="margin-bottom: 20pt; text-align: right;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<font style="font-weight: bold; font-size: 15pt; margin-left: 10pt;">
			<span style="color: gray;" class="fas fa-map-marked-alt">&nbsp;&nbsp;Listado Áreas Funcionales</span>
		</font>
  </div>
	<div id="divTablaAreaFuncional" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt; text-align: left;">
	  <table id="tablaAreaFuncional" class="cell-border compact" style="width: 100%;">
	    <thead>
	      <tr>
					<th class="celdaColor" style="border: 1pt solid white;" title="Selección">S</th>
					<th class="celdaColor" style="border: 1pt solid white;" title="IDAreaFuncional">ID Area Funcional</th>
					<th class="celdaColor" style="border: 1pt solid white;" title="IDPais">ID País</th>
					<th class="celdaColor" style="border: 1pt solid white;" title="Comuna">Comuna</th>
					<th class="celdaColor" style="border: 1pt solid white;" title="Provincia">Provincia</th>
					<th class="celdaColor" style="border: 1pt solid white;" title="Region">Región</th>
					<th class="celdaColor" style="border: 1pt solid white;" title="Codigo Postal">Código Postal</th>
					<th class="celdaColor" style="border: 1pt solid white;" title="Pais">País</th>	
	      </tr>
	    </thead>
	    <tbody id="cuerpoTablaAreaFuncional" style="text-align: left;">

	    </tbody>
	  </table>
	</div>
  <div id="accionesAreaFuncional" class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-right: 0;">
  </div>
</div>

<script>
//Para interactuar con la tabla de productos
$('#tablaAreaFuncional tbody').on( 'click', 'tr', function () {
    setTimeout(async function(){
      var table = $('#tablaAreaFuncional').DataTable();
      var datos = table.rows('.selected').data();
			if(table.rows('.selected').data().length > 1){
				$("#editarAreaFuncional").removeAttr("disabled");
			}
      else if(table.rows('.selected').data().length > 0){
        $("#editarAreaFuncional").removeAttr("disabled");
      }
      else{
        $("#editarAreaFuncional").attr("disabled", "disabled");
      }
    },100);
});
</script>
