<div class="row" style="padding-left: 20pt; padding-right: 20pt;">
  <div style="margin-bottom: 20pt; text-align: right;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <font style="font-weight: bold; font-size: 15pt; margin-left: 10pt;">
          <span style="color: gray;" class="fas fa-project-diagram">&nbsp;&nbsp;Lista Personal</span>
      </font>
  </div>

  <input id="inputRodrigo" type="hidden">

  <div id="divTablaJefatura" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt; text-align: left;">
	  <table id="tablaJefatura" class="cell-border compact" style="width: 100%;">
	    <thead>
	      <tr>
					<th class="celdaColor" style="border: 1pt solid white;" title="S">S</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="ID">ID</th>
          <th class="celdaColor" style="border: 1pt solid white;" title="IMG">IMG</th>
					<th class="celdaColor" style="border: 1pt solid white;" title="RUT">RUT</th>
					<th class="celdaColor" style="border: 1pt solid white; text-align: center;" title="EMPRESA">Empresa</th>
	        <th class="celdaColor" style="border: 1pt solid white; text-align: center;" title="NOMBRES">Nombres</tH>
	        <th class="celdaColor" style="border: 1pt solid white; text-align: center;" title="APELLIDOS">Apellidos</th>
	        <th class="celdaColor" style="border: 1pt solid white; text-align: center;" title="CARGO">Cargo</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="EMAIL">Email</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="FECHA_INGRESO">Fecha Ingreso</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="AFP">AFP</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="SALUD">Salud</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="TELÉFONO">Teléfono</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="COMUNA">Comuna</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="REGIÓN">Región</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="SUCURSAL">Sucursal</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="CÓD. CECO">Cód. Ceco</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="CECO" >Ceco</th>
	      </tr>
	    </thead>
	    <tbody id="cuerpoTablaJefatura" style="text-align: left;">

	    </tbody>
	  </table>
	</div>
  <div id="accionesGestionOperativa" class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12"  style="padding-right: 0;">

  </div>
</div>
<script>
    //Para interactuar con la tabla de productos
    $('#tablaJefatura tbody').on( 'click', 'tr', function () {
  			setTimeout(async function(){
  				var table = $('#tablaJefatura').DataTable();
  				var datos = table.rows('.selected').data();
          if(table.rows('.selected').data().length > 0){
            if(table.rows('.selected').data().length > 1){
              $("#cambiarJefatura").removeAttr("disabled");
              $("#imagenJefatura").attr("disabled", "disabled");
              $("#editarJefatura").attr("disabled", "disabled");
              $("#verUsuario").attr("disabled", "disabled");
            }
            else{
              $("#cambiarJefatura").removeAttr("disabled");
              $("#imagenJefatura").removeAttr("disabled");
              $("#editarJefatura").removeAttr("disabled");
              $("#verUsuario").removeAttr("disabled");
            }
          }
          else{
            $("#cambiarJefatura").attr("disabled", "disabled");
            $("#imagenJefatura").attr("disabled", "disabled");
            $("#editarJefatura").attr("disabled", "disabled");
            $("#verUsuario").attr("disabled", "disabled");
          }

          // Transferir Jefatura || Solicitar Jefatura
          /*if(datos.length === 1 && datos[0].SOLICITUD.includes('Asignado')) {
            $("#transferirJefatura").removeAttr("disabled");
            $("#solicitarJefatura").removeAttr("disabled");
          } else {
            $("#transferirJefatura").attr("disabled", "disabled");
            $("#solicitarJefatura").attr("disabled", "disabled");
          }

          // Aceptar/Rechazar Transferencia
          if(datos.length === 1 && datos[0].SOLICITUD.includes('Transferido')) {
            $("#transferirJefaturaRespuesta").removeAttr("disabled");
          } else {
            $("#transferirJefaturaRespuesta").attr("disabled", "disabled");
          }*/
  			},100);
  	});
</script>
