	<div class="row" style="padding-left: 20pt; padding-right: 20pt;">
				<div style="margin-bottom: 20pt; text-align: right;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<font style="font-weight: bold; font-size: 15pt; margin-left: 10pt;">
						<span style="color: gray;" class="fas fa-ambulance">&nbsp;&nbsp;Listado de Aseguradoras</span>
					</font>
			  </div>
				<div id="divTablaListadoAseguradora" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt; text-align: left;">
				  <table id="tablaListadoAseguradora" class="cell-border compact" style="width: 100%;">
				    <thead>
				      <tr>
								<th class="celdaColor" style="border: 1pt solid white;">S</th>
				      	<th class="celdaColor" style="border: 1pt solid white;">RUT</th>
				        <th class="celdaColor" style="border: 1pt solid white;">Nombre</th>
						<th class="celdaColor" style="border: 1pt solid white;">Moneda</th>
				        <th class="celdaColor" style="border: 1pt solid white;">Dirección</th>
						<th class="celdaColor" style="border: 1pt solid white;">Comuna</th>
				        <th class="celdaColor" style="border: 1pt solid white;">Telefono</th>
				      </tr>
				    </thead>
				    <tbody id="cuerpoTablaListadoAseguradora" style="text-align: left;">

				    </tbody>
				  </table>
				</div>
      <!-- Botones -->
	  		<div id="accionesAseguradora" class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-right: 0;">

			</div>
    </div>

	<script>
		//Para interactuar con los botones
			$('#tablaListadoAseguradora tbody').on( 'click', 'tr', function () {
				var table = $('#tablaListadoAseguradora').DataTable();
				if ( $(this).hasClass('selected') ) {
				$("#editarAseguradora").attr("disabled","disabled");
				$("#eliminarAseguradora").attr("disabled","disabled");
				}
				else {
					table.$('tr.selected').removeClass('selected');
				$("#editarAseguradora").removeAttr("disabled");
				$("#eliminarAseguradora").removeAttr("disabled");
				}
			});

	</script>
