<div class="row" style="padding-left: 20pt; padding-right: 20pt;">
	<div style="margin-bottom: 20pt; text-align: right;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<font style="font-weight: bold; font-size: 15pt; margin-left: 10pt;">
				<span style="color: gray;" class="fas fa-wrench">&nbsp;&nbsp;Mantención</span>
		</font>
	</div>
	<div id="calendario" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center;">

	</div>
</div>
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<hr class="hr-separador">
</div>
<div style="margin-bottom: 20pt; text-align: right;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<font style="font-weight: bold; font-size: 15pt; margin-left: 10pt;">
			<span style="color: gray;" class="fas fa-wrench">&nbsp;&nbsp;Lista mantención</span>
	</font>
</div>
<div id="divTablaCalendario" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt; text-align: left; margin-bottom: 20px;">
	<table id="tablaCalendario" class="cell-border compact" style="width: 100%;">
		<thead>
			<tr>
				<th class="celdaColor" style="border: 1pt solid white;">S</th>
				<th class="celdaColor" style="border: 1pt solid white;">Folio</th>
				<th class="celdaColor" style="border: 1pt solid white;">Estado</th>
				<th class="celdaColor" style="border: 1pt solid white;">Fecha agenda</th>
				<th class="celdaColor" style="border: 1pt solid white;">Fecha ingreso</th>
				<th class="celdaColor" style="border: 1pt solid white;">Motivo</th>
				<th class="celdaColor" style="border: 1pt solid white;">Patente</th>
				<th class="celdaColor" style="border: 1pt solid white;">Colaborador</th>
				<th class="celdaColor" style="border: 1pt solid white;">E-Mail Colaborador</th>
				<th class="celdaColor" style="border: 1pt solid white;">Celular Colaborador</th>
				<th class="celdaColor" style="border: 1pt solid white;">Taller</th>
				<th class="celdaColor" style="border: 1pt solid white;">Dirección taller</th>
				<th class="celdaColor" style="border: 1pt solid white;">Contacto taller</th>
				<th class="celdaColor" style="border: 1pt solid white;">Fono taller</th>
				<th class="celdaColor" style="border: 1pt solid white;">PDF Agenda</th>
				<th class="celdaColor" style="border: 1pt solid white;">PDF Diagnóstico</th>
				<th class="celdaColor" style="border: 1pt solid white;">PDF Factura</th>
				<th class="celdaColor" style="border: 1pt solid white;">PDF OC</th>
			</tr>
		</thead>
		<tbody id="cuerpoTablaCalendario" style="text-align: left;">

		</tbody>
	</table>
</div>

<script>

</script>
