<div class="row" style="padding-left: 20pt; padding-right: 20pt;">
    <div style="margin-bottom: 20pt; text-align: right;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <font style="font-weight: bold; font-size: 15pt; margin-left: 10pt;">
            <span style="color: gray;" class="fas fa-history">&nbsp;&nbsp;Rango de Mantenciones</span>
        </font>
  </div>
    <div id="divTablaRangoMantencion" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt; text-align: left;">
      <table id="tablaRangoMantencion" class="cell-border compact" style="width: 100%;">
        <thead>
          <tr>
            <th class="celdaColor" style="border: 1pt solid white;">S</th>
            <th class="celdaColor" style="border: 1pt solid white;">Folio</th>
            <th class="celdaColor" style="border: 1pt solid white;">Día</th>
            <th class="celdaColor" style="border: 1pt solid white;">Rango</th>
            <th class="celdaColor" style="border: 1pt solid white;">Estado</th>
            <th class="celdaColor" style="border: 1pt solid white;">Tope Mantenciones</th>
          </tr>
        </thead>
        <tbody id="cuerpoTablaRangoMantencion" style="text-align: left;">

        </tbody>
      </table>
    </div>
    <!-- Botones -->
    <div id="accionesRangoMantencion" class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-right: 0;">

    </div>
</div>
<script>
//Para interactuar con los botones
$('#tablaRangoMantencion tbody').on( 'click', 'tr', function () {
    setTimeout(async function(){
        var table = $('#tablaRangoMantencion').DataTable();
        var datos = table.rows('.selected').data();
        if(table.rows('.selected').data().length > 0){
            if(table.rows('.selected').data().length > 1){
            $("#configurarRango").removeAttr("disabled");
            }
            else{
            $("#configurarRango").removeAttr("disabled");
            }
        }
        else{
            $("#configurarRango").attr("disabled", "disabled");
        }
    },100);
});
</script>
