<div class="row" style="padding-left: 20pt; padding-right: 20pt;">
    <div style="margin-bottom: 20pt; text-align: right;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <font style="font-weight: bold; font-size: 15pt; margin-left: 10pt;">
            <span style="color: gray;" class="fas fa-gas-pump">&nbsp;&nbsp;Listado Solicitudes Combustible</span>
        </font>
  </div>
  <div style="margin-bottom: 20pt; text-align: left; " class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-xs-12">
        <label class="labelComun">Periodo</label>
        <select id="periodoSolCombustible" class="form-control" title="Periodo Solicitud Combustible">
        </select>
  </div>
  <div style="margin-bottom: 20pt; text-align: left;" class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-xs-12">
    <label class="labelComun">Estado</label>
    <select id="estadoSolicitudCombustible" class="form-control" title="Estado Solicitud Combustible">
    </select>
</div>

    <div id="divTablaListadoSolCombustible" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt; text-align: left;">
      <table id="tablaListadoSolCombustible" class="cell-border compact" style="width: 100%;">
        <thead>
          <tr>
            <th class="celdaColor" style="border: 1pt solid white;">S</th>
            <th class="celdaColor" style="border: 1pt solid white;">Folio</th>
            <th class="celdaColor" style="border: 1pt solid white;">Estado</th>
            <th class="celdaColor" style="border: 1pt solid white;">Tipo Solicitud</th>
            <th class="celdaColor" style="border: 1pt solid white;">Personal Asignado</th>
            <th class="celdaColor" style="border: 1pt solid white;">Rut Asignado</th>
            <th class="celdaColor" style="border: 1pt solid white;">Patente</th>
            <th class="celdaColor" style="border: 1pt solid white;">Tarjeta</th>
            <th class="celdaColor" style="border: 1pt solid white;">Producto</th>
            <th class="celdaColor" style="border: 1pt solid white;">Tipo</th>
            <th class="celdaColor" style="border: 1pt solid white;">Bodega</th>
            <th class="celdaColor" style="border: 1pt solid white;">Fecha Solicitud</th>
            <th class="celdaColor" style="border: 1pt solid white;">Hora Solicitud</th>
            <th class="celdaColor" style="border: 1pt solid white;">Fecha Respuesta</th>
            <th class="celdaColor" style="border: 1pt solid white;">Hora Respuesta</th>
            <th class="celdaColor" style="border: 1pt solid white;">Solicitante</th>
            <th class="celdaColor" style="border: 1pt solid white;">Monto Solicitado</th>
            <th class="celdaColor" style="border: 1pt solid white;">Monto Validado</th>
          </tr>
        </thead>
        <tbody id="cuerpoTablaListadoSolCombustible" style="text-align: left;">

        </tbody>
      </table>
    </div>
<!-- Botones -->
    <div id="accionesSolCombustible" class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-right: 0;">
    </div>
</div>

<!-- Activacion de botones -->
<script>
	$('#tablaListadoSolCombustible tbody').on( 'click', 'tr', function () {
        var table = $('#tablaListadoSolCombustible').DataTable();
        if ( $(this).hasClass('selected') ) {
            $("#validarSolCombustible").attr("disabled","disabled");
            $("#rechazarSolCombustible").attr("disabled","disabled");
        }
        else {
            setTimeout(function(){
                var table = $('#tablaListadoSolCombustible').DataTable();
                var d = $.map(table.rows('.selected').data(), function (item) {
                    return item.ESTADO_CARGA;
                });
                if(d[0] === 'Aprobada' || d[0] === 'Rechazada'){
                    $("#validarSolCombustible").attr("disabled","disabled");
                    $("#rechazarSolCombustible").attr("disabled","disabled");
                }
                else{
                    $("#validarSolCombustible").removeAttr("disabled");
                    $("#rechazarSolCombustible").removeAttr("disabled");
                }
            },200);
        }
    });
</script>
<!-- Fin de Activacion de botones -->
