<div class="row" style="padding-left: 20pt; padding-right: 20pt;">
			<div style="margin-bottom: 20pt; text-align: right;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<font style="font-weight: bold; font-size: 15pt; margin-left: 10pt;">
					<span style="color: gray;" class="fas fa-car-alt">&nbsp;&nbsp;Listado de Vehículos</span>
				</font>
			</div>
			<div style="text-align: left;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="row" id="filtrosListadoVehiculo">
					<div id="divGraficaListadoVehiculo" style="margin-bottom: 10pt; text-align: right;" class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
						<div id="graficaListadoVehiculo" class="" style="text-align: left; margin-top: 15pt;">

						</div>
					</div>
					<div id="divInformeListadoVehiculo" style="margin-bottom: 10pt; text-align: right;" class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
						<table id="informeListadoVehiculo" class="row-border compact" style="width: 100%;">
							<thead>
								<tr>
									<th class="celdaColorCant" style="border: 1pt solid white;" title="Estado">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Estado Veh.</th>
									<th class="celdaColorCant" style="border: 1pt solid white;" title="Cantidad">#</th>
								</tr>
							</thead>
							<tbody id="cuerpoListadoVehiculo" style="text-align: left;">

							</tbody>
							<tfoot>
								<tr>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#&nbsp;&nbsp;Total</td>
									<td></td>
								</tr>
							</tfoot>
						</table>
					</div>
					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<hr class="hr-separador">
					</div>
				</div>
			</div>
			<div id="divTablaListadoVehiculo" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: left;">
				<table id="tablaListadoVehiculo" class="cell-border compact" style="width: 100%;">
					<thead>
						<tr>
							<th class="celdaColor" style="border: 1pt solid white;">S</th>
							<th class="celdaColor" style="border: 1pt solid white;">Patente</th>
							<th class="celdaColor" style="border: 1pt solid white;">Pat. Reemplazo</th>
							<th class="celdaColor" style="border: 1pt solid white;">M</th>
							<th class="celdaColor" style="border: 1pt solid white;">Estado Veh.</th>
							<th class="celdaColor" style="border: 1pt solid white;">Operación</th>
							<th class="celdaColor" style="border: 1pt solid white;">Tipo</th>
							<th class="celdaColor" style="border: 1pt solid white;">Propiedad</th>
							<th class="celdaColor" style="border: 1pt solid white;">Marca</th>
							<th class="celdaColor" style="border: 1pt solid white;">Modelo</th>
							<th class="celdaColor" style="border: 1pt solid white;">Ceco/PEP</th>
							<th class="celdaColor" style="border: 1pt solid white;">Personal Asignado</th>
							<th class="celdaColor" style="border: 1pt solid white;">DNI Asignado</th>
							<th class="celdaColor" style="border: 1pt solid white;">Est. Control</th>
							<th class="celdaColor" style="border: 1pt solid white;">Est. RRHH</th>
							<th class="celdaColor" style="border: 1pt solid white;">Proveedor</th>
							<th class="celdaColor" style="border: 1pt solid white;">Bodega</th>
							<th class="celdaColor" style="border: 1pt solid white;">Comuna</th>
							<th class="celdaColor" style="border: 1pt solid white;">Gerencia</th>
							<th class="celdaColor" style="border: 1pt solid white;">Subgerencia</th>
							<th class="celdaColor" style="border: 1pt solid white;">Cliente</th>
							<th class="celdaColor" style="border: 1pt solid white;">Estado Texto</th>
							<th class="celdaColor" style="border: 1pt solid white;">Año</th>
							<th class="celdaColor" style="border: 1pt solid white;">Vin</th>
							<th class="celdaColor" style="border: 1pt solid white;">Nro. Motor</th>
							<th class="celdaColor" style="border: 1pt solid white;">Color</th>
							<th class="celdaColor" style="border: 1pt solid white;">F. Inicio</th>
							<th class="celdaColor" style="border: 1pt solid white;">F. Termino</th>
							<th class="celdaColor" style="border: 1pt solid white;">Gerente</th>
							<th class="celdaColor" style="border: 1pt solid white;">Ad. Contrato</th>
							<th class="celdaColor" style="border: 1pt solid white;">Rev. Técnica</th>
							<th class="celdaColor" style="border: 1pt solid white;">Per. Circulación</th>
							<th class="celdaColor" style="border: 1pt solid white;">Aseguradora</th>
							<th class="celdaColor" style="border: 1pt solid white;">Emision</th>
							<th class="celdaColor" style="border: 1pt solid white;">Otros</th>
						</tr>
					</thead>
					<tbody id="cuerpoTablaListadoVehiculo" style="text-align: left;">

					</tbody>
				</table>
			</div>
		<!-- Botones -->
		<div id="accionesVehiculos" class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-right: 0; margin-bottom: 20pt;">

		</div>
	</div>

<script>
//Para interactuar con los botones
	$('#tablaListadoVehiculo tbody').on( 'click', 'tr', function () {
		setTimeout(async function(){
			var table = $('#tablaListadoVehiculo').DataTable();
			var datos = table.rows('.selected').data();
			if (datos.length <= 0) {
				$("#editarVehiculo").attr("disabled","disabled");
				$("#subirPdfVehiculo").attr("disabled","disabled");
				$("#historialVehiculo").attr("disabled","disabled");
				$("#equipamientoVehiculo").attr("disabled","disabled");
			}
			else {
				$("#editarVehiculo").removeAttr("disabled");
				$("#subirPdfVehiculo").removeAttr("disabled");
				$("#historialVehiculo").removeAttr("disabled");
				$("#equipamientoVehiculo").removeAttr("disabled");
			}
		},100);
	});

</script>
